ion-content {
  background: linear-gradient(to bottom, rgb(180, 94, 44), #021B79);
}

h2 {
  color: beige;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ion-item {
  background: transparent;
}
